.main {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.main_inside {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}