.game_area {
    position: relative;
    height: 800px;
    width: 800px;
    border: 1px solid black;
}

.snake_dot, .food_dot {
    position: absolute;
    width: 2%;
    height: 2%;
    background: black;
    z-index: 2;
}

.food_dot {
    background: red;
}
